html {
    background-color: #f6f9e8;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

main {
  text-align: center;
}

canvas {
    width: 100%;
    height: 100%;
}

ul, li {
    color: #ffffff;
    list-style: none;
    padding: 0;
}

nav.navbar.navbar-default {
    border: 0;
    margin: 0;
}

div.container-fluid {
    background-color: #466b60;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

ul.nav.navbar-nav li a {
    color: #ffffff;
    font-size: 1.25em;
    letter-spacing: 1px;
}

ul.nav.navbar-nav li a:hover {
    color: #8eb1a7;
}

#content-wrapper {
    background-color: #f6f9e8;
}

#content-wrapper h1 {
    font-weight: 300;
}

div#pepeha a {
    margin-top: 2em;
}

#carvings-container {
    width: 100%;
    margin: 1.15em auto;
}

#carvings {
    width: 100%;
    height: 100em;
}

#about {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align-last: center;
    width: 60%;
}

#about p {
    line-height: 2em;
    font-size: 1.25em;
}

#show-forecast {
    justify-content: center;
    overflow: hidden;
    display: inline-flex;
    width: 100%;
}

#weather-today {
    overflow: hidden;
    display: inline-flex;
    width: 60%;
}


.current-weather {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    margin: 1em;
    width: 100%;
}

img.loading {
    width: 50px;
}

.forecast {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 1em;
    margin: 1em;
    width: 20%;
}

p.weather-text {
    font-size: 1.25em;
}

p.temp {
    font-size: 1.25em;
}

.about-item {
    margin: 2em auto;
    width: 60%;
}


